<nav>
  <div class="nav-wrapper brown">
  <a href="/" class="brand-logo center">Escoger Menu</a>
    <ul  class="left hide-on-med-and-down" >
      <li><a routerLink="/roles" routeLinkActive="active">Roles</a></li>
      <li><a routerLink="/users" routeLinkActive="active">Usuarios</a></li>
      <li><a routerLink="/publicidad" routeLinkActive="active">Publicidad</a></li>
      <li><a routerLink="/inicio" routeLinkActive="active">Login</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>